mixin nav(about, serv, vac, news, agr)
  nav.guest-header__nav.default-text-05 
    span.guest-header__about.default-text-075 #{about}
    span.guest-header__services #{serv}
    span.guest-header__vacancies #{vac}
    span.guest-header__news #{news}
    span.guest-header__agreements #{agr}