mixin dropdownTamplate(className)
  ul(class=className+"-dropdown__main")
  li(class=className+"-dropdown__selected")
    div(class=className+"-dropdown__description")
      span(class=className+"-dropdown__guest-number")
      span(class=className+"-dropdown__guest-word") сколько гостей
      span(class=className+"-dropdown__expand-more")
