// all variables begin with "" = "value"
mixin star(name)
  .rate-button__style
    input(type="radio", name=name id=name+1 value=5)
    label(for=name+1)
    input(type="radio", name=name id=name+2 value=4)
    label(for=name+2)
    input(type="radio", name=name id=name+3 value=3)
    label(for=name+3)
    input(type="radio", name=name id=name+4 value=2)
    label(for=name+4)
    input(type="radio", name=name id=name+5 value=1)
    label(for=name+5)
  